.container {
    background-color: lightcoral;
    padding: 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    text-decoration: none;
    font-size: 28px;
    color: lightcyan;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
  }
  
  .logo:hover,
  .logo:focus {
    color: lightsteelblue;
  }
  
  .list {
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .link {
    text-decoration: none;
    font-size: 20px;
    color: lightblue;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
  }
  