<!DOCTYPE html>
<html>
 
<head>
    <title>Fun With Random Numbers</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
 
<body class="home">
  <h2>Flask Warmup</h2>
  <h3>Please Input two numbers and an operation.</h3>
  <input type="number" name="x">
  <select name="operation">
    <option value="plus">Plus</option>
    <option value="minus">Minus</option>
    <option value="times">Times</option>
    <option value="divide">Divide</option>
  </select>
  <input type="number" name="y">
  

</body>
 
</html>
